*{
	margin: 0;
	padding: 0;
	

}

html {
    scroll-behavior: smooth;
}


body{
	font-family: 'helvetica', sans-serif;
	overflow-x: hidden;
	width: fit-content;
}

/* NAVBAR */

.navbar{
	height: 90px;
	background: #F1F3FF;
	z-index: 10;
}

.navbar-brand{
	height: 50px;
	width: 150px;
	padding: 8px 15px;
	background: #0D28A6;
}



.nav-item .register{
	padding: 8px 15px;
	background: #5CB85F;
	cursor: pointer;
}

.nav-item .register:hover{
	background: #3D7B3F;
}

.nav-item{
	padding: 5px 10px;
	font-weight: 600;
}


/* NAVBAR */

/* MAIN SECTION */

.main_section{
	background: #F1F3FF;
	overflow-x: hidden;
	width: 100%;
}


.col_main_section h2{
	margin-top: 27%;
	font-size: 36px;
	font-weight: 700;
	line-height: 54px;	
}

.col_main_section p{
	font-size: 14px;
	line-height: 20px;
}

a.btn{
	font-size: 14px;
	padding: 10px 15px;
	background: #5CB85F;
	border: none;
	color: #fff;
	font-weight: 700;
	cursor: pointer;
}

a.btn:hover{
	color: #fff;
	background: #3D7B3F;
}

.col_image img{
	height: 407px;
	width: 704px;
	margin-top: 10%;
	margin-left: 12%;
}

.car-img{
	width: 704px;
    height: 407px;
	
}

/* MAIN SECTION */


/* OUR SERVICE SECTION */

.our_service{
	margin-top: 3%;
}

.col_image_service img{
	height: 408px;
	width: 439px;
	margin-top: 15%;
	margin-left: 12%;
}

.col_service h3{
	margin-top: 21%;
	margin-left: 80px;
	font-size: 24px;
	font-weight: 700;
}

.col_service p{
	font-size: 14px;
	margin-left: 80px;
	margin-top: 15px;
}

.col_service .bi-check{
	height: 40px;
	width: 40px;
	padding: 5px;
	border-radius: 50%;
	background-color: #CFD4ED;
}

/* OUR SERVICE SECTION */

/* Why Us Section */

.why_us{
	margin-top: 6%;
}

.h1_wu{
	font-size: 24px;
	font-weight: 700;
}

.p_wu{
	font-size: 14px;
}

.card-body h5{
	font-size: 16px;
	font-weight: 700;
	margin-top: 15px;
}

.card-body p{
	margin-top: 15px;
	font-size: 14px;
}

.card-body .bi-hand-thumbs-up{
	height: 40px;
	width: 40px;
	padding: 5px;
	border-radius: 50%;
	background-color: #F9CC00;
}

.card-body .bi-tag{
	height: 40px;
	width: 40px;
	padding: 5px;
	border-radius: 50%;
	background-color: #FA2C5A;
}

.card-body .bi-clock{
	height: 40px;
	width: 40px;
	padding: 5px;
	border-radius: 50%;
	background-color: #0D28A6;
} 

.card-body .bi-award{
	height: 40px;
	width: 40px;
	padding: 5px;
	border-radius: 50%;
	background-color: #73CA5C;
}
/* Why Us Section */

/* Testimonial Section */

.testimonial{
	margin-top: 5%;
}

.testimonial .h1_testimonial{
	font-size: 24px;
	font-weight: 700;
	line-height: 36px;
	text-align: center;
}

.testimonial .p_testimonial{
	font-size: 14px;
	line-height: 20px;
	text-align: center;
}

.carousel{
	margin-top: 2%;
}

.carousel-indicators{
	left: 0;
	top: auto;
	bottom: -70px;
}

.carousel-indicators .bi-chevron-left,
.carousel-indicators .bi-chevron-right
{
	height: 30px;
	width: 30px;
	padding: 5px;
	border-radius: 50%;
	background-color: #fff;
	margin-left: 10px;
	border: 1px solid #C4C4C4;
	font-size: 15px;
	text-align: center;
}

.carousel-indicators .active{
	color: white;
	background-color: #5CB85F;
	border: none;
	text-align: center;
}

.single-box{
	padding: 50px 30px 40px;
	border-radius: 8px;
	background-color: #F1F3FF;
	height: 240px;
}

.testimonial .img-area{
	position: absolute;
	margin: 0;
	width: 30%;
}

.img-area img{
	width: 70px;
	height: 70px;
	margin-top: 30px;
}

.text-img .bi-star-fill{
	color: #F9CC00;
}

.text-img .bi-star-half{
	color: #F9CC00;
}

.text-img p{
	font-size: 14px;
	line-height: 20px;
	margin-top: 5px;
}

.text-img h2{
	font-size: 14px;
	font-weight: 600;
	line-height: 20px;
}

.testimonial .text-img{
	float: left;
	padding-left: 30%;
}

/* Testimonial Section */


/* Sewa Mobil Section */
.sewa_mobil{
	margin-top: 10%;
}

.sewa_mobil .jumbotron{
	text-align: center;
	background-color: #0D28A6;
	border-radius: 13px;
}

.jumbotron h1{
	font-size: 36px;
	font-weight: 700;
	line-height: 54px;
	color: #fff;
}

.jumbotron p{
	margin-top: 20px;
	font-size: 14px;
	line-height: 20px;
	color: #fff;
}

.jumbotron .btn-success{
	margin-top: 25px;
	font-size: 14px;
	line-height: 20px;
	font-weight: 700;
}
/* Sewa Mobil Section */

/* FAQ Section */

.faq_section{
	margin-top: 8%;
}

.col_faq h1{
	font-size: 24px;
	font-weight: 700;
	line-height: 36px;
}

.col_faq p{
	font-size: 14px;
	line-height: 20px;
}

.accordion .card-header {
    margin-bottom: 100Spx;
    background: #FFFFFF;

    width: 668px;
    height: 56px;

    box-sizing: border-box;
    border-radius: 4px;

}

.col__accordion ul {
    list-style: none;
}

.col__faq p {
    font-size: 14px;
    line-height: 20px;
}

.col__accordion .ac {
    width: 100%;
    height: auto;
}

.col__accordion .card-header .btn-link {
    font-size: 14px;
    line-height: 20px;
    color: black;
    text-decoration: none;
}

.col__accordion .fa-chevron-down {
    float: right;
}

.col__accordion .card {
    width: 100%;
    height: auto;
	margin-bottom: 18px;
}

/* FAQ Section */

/* Footer */

.footer{
	margin-top: 10%;
	margin-bottom: 5%;	
}

.col_alamat p{
	font-size: 14px;
	line-height: 20px;
}

.col_nav2 a{
	font-size: 14px;
	line-height: 20px;
	color: black;
	text-decoration: none;
}

.col_connect p{
	font-size: 14px;
	line-height: 20px;
}

.col_connect i{
	height: 40px;
	width: 40px;
	padding: 5px;
	border-radius: 50%;
	background-color: #0D28A6;
	color: white;
}

.col_cr p{
	font-size: 14px;
	line-height: 20px;
}

.col_cr .kosong{
	height: 34px;
	width: 100px;
	background-color: #0D28A6;
}

/* Footer */
